<div>
    <nav>
        <NavLink href="" style="text-decoration-line: none; color: black;">
            Home
        </NavLink>
        <NavLink href="Information" style="text-decoration-line: none; color: black;">
            Informações
        </NavLink>
        <NavLink href="Tips" style="text-decoration-line: none; color: black;">
            Dicas
        </NavLink>
        <NavLink href="Recipes" style="text-decoration-line: none; color: black;">
            Receitas
        </NavLink>
        <NavLink href="Specialist" style="text-decoration-line: none; color: black;">
            Especialista
        </NavLink>

    </nav>
</div>
