@inject NavigationManager Navigation

<div class="container" @onclick="() => GoToRecipe(recipe.Id)">
    <img src=@recipe.Image alt="image mock" style="width:200px;height:200px;">
    <p><b>@recipe.Name</b></p>
</div>
<br />


@code {
    [Parameter]
    public Recipe? recipe { get; set; }
    private void GoToRecipe(int id)
    {
        Navigation.NavigateTo($"/recipe/{id}");
    }
}