@page "/AboutUs"

<PageTitle>Sobre nós</PageTitle>

<div class="topo">
    <h1>Sobre Nós</h1>
</div>


<div class="primeiro-card">
    <div class="card-filho">
        <p>Somos uma equipe apaixonada por ajudar pessoas a viverem bem sem glúten. Acreditamos que todos devem ter
            acesso a informações confiáveis, receitas deliciosas e um ambiente de apoio para navegar neste novo estilo
            de vida.</p>
        <br>
        <p>Nossa equipe é formada por:</p>
        <ul>
            <li>Henrique Alves Cavalcanti</li>
            <li>Janeide Batista Gomes</li>
            <li>Lucas Daniel da Silva Araújo</li>
            <li>Silas Matias de Oliveira</li>
            <li>Thales Martin Coutinho</li>
            <li>Thiago de Almeida Silva</li>
            <li>Vander Oliveira Jampaulo</li>
        </ul>
    </div>
    <div class="card-filho-img">
        <img src="sobrenos.jpeg" /><br>
    </div>
</div>

<div class="topo">
    <h2>Nossa Missão</h2>
</div>
<div class="topo">
    <p>Nossa missão é informar, educar e inspirar a comunidade celíaca e intolerante ao glúten, oferecendo:</p>
</div>


<div class="segundo-card">
    <div class="coluna">
        <ul>
            <li>
                Receitas deliciosas e fáceis de seguir: Desde pratos básicos do dia a dia até sobremesas irresistíveis.
                Nossa
                variedade de receitas atenderá a todos os gostos e níveis de habilidade culinárias.
            </li><br>
            <li>
                Informações confiáveis e atualizadas sobre a doença celíaca: Esclarecemos dúvidas, desmitificamos mitos
                e
                fornecemos tudo o que você precisa saber para viver bem sem glúten.
            </li>
        </ul>
    </div>

    <div class="coluna">
        <ul>
            <li>
                Dicas práticas para o dia a dia: Simplificamos a vida sem glúten com gias práticos, listas de compras,
                sugestões
                para comer fora de casa e muito mais.
            </li><br>
            <li>
                Conteúdo de especialistas renomados: Aprenda com nutricionaistas, médicos, psicólogos e outros
                profissionais
                da
                área para tomar decisões informadas sobre sua saúde e bem-estar.
            </li>
        </ul>
    </div>
</div>
<div class="segundo-card">
    <div class="coluna">
        <p>
            Juntos, nos dedicamos a criar um site que seja um recurso valioso e inspirador para a comunidade celíaca e
            intolerante ao glúten.<br>
            Junte-se a nós nesta jornada!<br>
            Acreditamos que, juntos, podemos tornar a vida sem glúten mais fácil, saborosa e prazerosa para todos.
            Explore nosso site, participe da nossa comunidade e compartilhe sua história conosco.<br>
        </p><br>
        <p>
            Um abraço sem glúten!
        </p>
    </div>


</div>