@page "/"

<PageTitle>Home</PageTitle>

<div class="background-container">
  <div class="logo-home">
    <img class="image_design" src="Design.svg" alt="">
    <h1 class="titulo">Glúten Free BR</h1>
  </div>
  <div class="sub-titulo">
    <div class="informativo"> 
      <h2>Vivendo Bem Sem Glúten: Receitas,</h2>
      <h2>Dicas e Informação</h2>
    </div>
   
    <h3>A vida sem glúten pode ser uma delícia!</h3>
  </div>
</div>
