@page "/Information"

<PageTitle>Informações</PageTitle>


<!DOCTYPE html>
<html lang="pt-br">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
</head>

<body>
   <h1>Informações</h1>





   <div class="container-maior">



      <p>Tudo o que você precisa saber sobre a doença celíaca e<br>
         a dieta sem glúten
      </p>

      <div class="container">

         <div class="card-1">
            <div>
               <h3>O que é a doença celíaca ?</h3>


               <ul>
                  <li>A doença celíaca é um disturbio autoímune desencadeado pelo
                     consumo de glúten, uma proteína presente no trigo , cevada e
                     centeio. Quando pessoas com doença celíaca ingerem glúten,
                     seu sistema imunológico reage danificando o intestino delgado,
                     o que dificulta a absorção de nutrientes essênciais</li>
                  <li>A unica forma de tratar a doença celíaca é seguindo uma dieta
                     estritamente sem glúten por toda a vida.</li>
               </ul>


               <h3>Por que seguir uma dieta sem glúten ?</h3>

               <p>Seguir uma dieta rigorosa sem glúten é o unico tratamento para a
                  doença celíaca. Ao evitar o glúten , os individuos podem :
               </p>

               <ul>
                  <div class="ajuste-marcador">
                     <li>Curar o revestimento danificado do intestino delgado</li>
                     <li>Prevenir complicações a longo prazo, como osteoporose,
                        infertilidade e alguns tipos de câncer.</li>
                     <li>Melhorar a saúde geral e qualidade de vida.</li>
                  </div>
               </ul>
            </div>

         </div>

         <div class="card-2">
            <h3>Quais alimentos devo evitar ?</h3>


            <ul>
               <li>Grãos: Trigo, cevada, centeio e aveia (a menos que sejam
                  certificados sem glúten).</li>
               <li>Alimentos processados: Pão, macarrão, pizza, cerveja e muitos
                  alimentos processados contém glúten.</li>
               <li>Fontes Ocultas: O glúten pode estar presente em lugares
                  inesperados, como molhos , temperos e medicamentos. Sempre
                  leia os rótulos com atenção.</li>

            </ul>

            <h3>Quais alimentos posso consumir ?</h3>


            <ul>
               <li>Grãos: Arroz, milho, quinoa e aveia sem glúten.</li>
               <li>Proteinas: Carne, aves, peixes, ovos, tofu e leguminosas</li>
               <li>Laticinios: Leite, queijo e iorgute</li>
               <li>Frutas e vegetais: Todas as frutas e vegetais são
                  naturalmente sem glúten.</li>
               <li>Farinha sem glúten: Farinha de arroz, farinha de
                  amêndoa, farinha de coco entre outras.</li>
            </ul>

         </div>

      </div>

   </div>
</body>


</html>
