@page "/Recipes"
@inject HttpClient Http
@inject NavigationManager Navigation

<PageTitle>Receitas</PageTitle>

<h1>Receitas</h1>

@if (recipes == null)
{
    <p><em>Carregando...</em></p>
}
else
{
    @foreach (var recipe in recipes)
    {
        <p>Nome: @recipe.Name</p>
        <p>Descritivo: @recipe.Text</p>
        <button class="btn btn-primary" @onclick="() => GoToRecipe(recipe.Id)">Selecionar Receita</button>
        <br/>
    }
}

@code {
    private Recipe[]? recipes;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            string url = "http://localhost:5125/Recipe/v1";
            recipes = await Http.GetFromJsonAsync<Recipe[]>(url);
            StateHasChanged();
        }
        catch (Exception ex)
        {
            Console.Write(ex.Message);
        }
    }

    private void GoToRecipe(int id)
    {
        Navigation.NavigateTo($"/recipe/{id}");
    }
}
