@page "/recipes"
@inject IRecipesService IRecipeService

<PageTitle>Receitas</PageTitle>

<h1>Receitas</h1>

@if (recipes == null)
{
    <Loading/>
}
else
{
    @foreach (var recipe in recipes)
    {
        <RecipeCard recipe="recipe"/>
    }
}

@code {
    private Recipe[]? recipes;

     protected override async Task OnInitializedAsync()
    {
        try
        {
            recipes = await IRecipeService.GetRecipesAsync();
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error: {ex.Message}");
        }
    }
}
