@page "/recipes"
@using gluten_free_br.Interfaces
@inject IRecipesService RecipeService
@inject NavigationManager Navigation

<PageTitle>Receitas</PageTitle>

<h1>Receitas</h1>

@if (recipes == null)
{
    <p><em>Carregando...</em></p>
}
else
{
    @foreach (var recipe in recipes)
    {
        <p>Nome: @recipe.Name</p>
        <p>Descritivo: @recipe.Text</p>
        <button class="btn btn-primary" @onclick="() => GoToRecipe(recipe.Id)">Selecionar Receita</button>
        <br />
    }
}

@code {
    private Recipe[]? recipes;

     protected override async Task OnInitializedAsync()
    {
        try
        {
            recipes = await RecipeService.GetRecipesAsync();
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error: {ex.Message}");
        }
    }
    private void GoToRecipe(int id)
    {
        Navigation.NavigateTo($"/recipe/{id}");
    }
}
