@page "/recipe/{RecipeId:int}"
@inject IRecipesService IRecipeService
@inject NavigationManager Navigation

<PageTitle>Recipe</PageTitle>

@if (recipe == null)
{
    <Loading />
}
else
{
    <h1>@recipe.Name</h1>
    <div class="container">
        <img src=@recipe.Image alt="image" style="width:500px;height:500px;">
        <div class="text">

        </div>
        <p>@recipe.Text</p>
    </div>
}


@code {
    [Parameter]
    public int RecipeId { get; set; }

    private Recipe? recipe;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            recipe = await IRecipeService.GetRecipesByIdAsync(RecipeId);
        }
        catch (Exception ex)
        {
            Console.Write(ex.Message);
        }
    }
}
