@page "/recipe/{RecipeId:int}"
@inject HttpClient Http
@inject NavigationManager Navigation
@using System.Net.Http.Json

<PageTitle>Recipe</PageTitle>

@if (recipe == null)
{
    <p><em>Carregando...</em></p>
}
else
{
    <h1>@recipe.Name</h1>

    <p>Descritivo: @recipe.Text</p>
    <button class="btn btn-primary" @onclick="GoToHome">Voltar para Home</button>
}


@code {
    [Parameter]
    public int RecipeId { get; set; }

    private Recipe? recipe;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            string url = $"http://localhost:5125/Recipe/v1/{RecipeId}";
            recipe = await Http.GetFromJsonAsync<Recipe>(url);
            StateHasChanged();
        }
        catch (Exception ex)
        {
            Console.Write(ex.Message);
        }
    }

    private void GoToHome()
    {
        Navigation.NavigateTo("/Recipes");
    }
}
