@page "/Specialist"

<PageTitle>Especialista</PageTitle>


<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Especialista</h1>







    <div class="container-maior">


        <p>Aqui você encontra informações seguras como artigos de<br>
            especialistas na aréa para tirar as suas duvidas
        </p>
        <div class="container">
            <div class="card-1">
                <h3>Para saber mais sobre contaminação cruzada</h3>


                <ul>
                    <div class="ajuste-marcador" <li> De acordo com Braganholo(2021) em seu artigo denominado
                        “Contaminação cruzada por glúten na
                        cozinha
                        ” a mesma traz ao leitor recomendações e dicas de como evitar a contaminação cruzada por glúten
                        com
                        alimentos ou superfícies alertando dos riscos para as pessoas celíacas. A mesma traz dicas
                        valiosas
                        que vão desde não preparar o alimento com glúten no mesmo tempo do sem glúten até sugestões de
                        educar todos de casa sobre o novo contexto. Além disso para garantir a segurança, a mesma fala
                        que
                        é fundamental separar utensílios, superfícies e alimentos, evitando qualquer tipo de
                        contaminação.
                        </li>
                        <li>Para ter acesso ao artigo completo, acesse o link abaixo:</li>
                        <li>Link para o artigo:  <a href="https://www.fenacelbra.com.br/contaminacao-cruzada-por-gluten"> https://www.fenacelbra.com.br/contaminacao-cruzada-por-gluten</a>.</li>
                    </div>
                </ul>

            </div>



            <div class="card-2">
                <h3>Já pensou em como as inovações para produtos sem glúten estão indo ?</h3>


                <ul>
                    <li>De acordo com Santos, Machado, Nascimento & Coelho(2016) em seu artigo os mesmo trazem
                        informações
                        de que nos últimos anos, a indústria alimentícia tem investido em inovações para atender à
                        crescente
                        demanda por produtos sem glúten. Os mesmos trazem os materiais e métodos utilizados para provar
                        tais
                        fins além de trazer consigo experimentos que validam suas teses. Com esses experimentos
                        conseguimos
                        ver novas alternativas, como receitas de falso pão de queijo ,crepes entre outros têm ampliado
                        as
                        opções para quem segue uma dieta sem glúten, tornando a alimentação de celíacos mais
                        diversificada e
                        prazerosa.</li>
                    <li>Para ter acesso ao artigo completo, acesse o link abaixo</li>
                    <li>Link para o aritgo: <a href="https://ojs.rpqsenai.org.br/index.php/rpq_n1/article/view/372/360"> https://ojs.rpqsenai.org.br/index.php/rpq_n1/article/view/372/360</a></li>
                </ul>

            </div>

        </div>

    </div>
</body>


</html>
