@page "/Tips"

<PageTitle>Dicas</PageTitle>

<h1>Dicas</h1>

<div class="container-maior">

    <p class="subtitulo">Dicas para Comer Sem Glúten</p>

    <div class="card">
         <ul>
            <li>Leia os Rótulos: Sempre verifique os rótulos dos
                alimentos para identificar ingredientes que
                contenham glúten.
            </li>
            <li>Contaminação Cruzada: Fique atento á
                contaminação cruzada ao preparar alimentos.
            </li>
            <li>Comer Fora com Segurança: informe a equipe do
                restaurante sobre suas necessidades alimentares
                e pergunte sobre as opções sem glúten.
            </li>
            <li>Busque Suporte: Junte-se a um grupo de apoio ou
                comunidade online para se conectar com outras 
                pessoas que seguem uma dieta sem glúten.
            </li>
         </ul>

         <p>
            Lembre-se: Se você acha que pode ter doença
            celíaca, consulte um profissional de saúde para um diagnóstico adequado.    
         </p>

    </div>

</div>